* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    top: 0;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: bisque;
}

h1{
    text-align: center;
}

@media(max-width:450px) {
    header {
        background-color: blanchedalmond;
        text-align: center;
        padding: 10px;
        border-bottom: solid 2px black;
    }

    main {
        text-align: center;
        flex: 1;
    }

    nav {
        width: 90%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 10px;
        border: 2px solid #ccc;
        background-color: white;
    }

    h2 {
        margin: 30px;
    }

    li {
        margin: 5px auto;
        list-style-type: none;
        width: 70%;
        border-radius: 10px;
        background-color: rgb(165, 124, 70);
        padding: 15px;
    }

    li:hover {
        background-color: rgb(116, 95, 67);
    }

    a {
        width: 70%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;
        font-weight: medium;
        color: white;
        padding: 15px;
        border-radius: 10px;
    }

    footer {
        background-color: blanchedalmond;
        border-top: solid 2px black;
        text-align: center;
        bottom: 0;
        padding: 10px;
        position: sticky;
    }
}

@media(min-width:500px) {
    header {
        background-color: blanchedalmond;
        text-align: center;
        height: 70px;
        padding: 20px;
        border-bottom: solid 2px black;
    }

    main {
        width: 100%;
        text-align: center;
        flex: 1;
    }

    h2 {
        margin-top: 30px;
    }

    nav {
        width: 440px;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 10px;
        border: 2px solid #ccc;
        background-color: white;
    }

    li {
        margin: 10px auto;
        list-style-type: none;
        width: 350px;
        border-radius: 10px;
        background-color: rgb(165, 124, 70);
        padding: 15px;
    }

    li:hover {
        background-color: rgb(116, 95, 67);
    }

    a {
        width: 350px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: none;
        font-weight: medium;
        color: white;
        padding: 15px;
        border-radius: 10px;
    }

    footer {
        background-color: blanchedalmond;
        text-align: center;
        bottom: 0;
        position: sticky;
        padding: 10px;
        border-top: solid 2px black;
    }
}